
@media (max-width: 1000px) {
    .music_area{
        width: 70vw;
    }
}


@media (max-width: 750px) {
    .music_area{
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .music_area{
        width: 85vw;
    }
}

@media (max-width: 500px) {
    .music_area{
        width: 90vw;
    }
    .song_list{
        font-size: 1rem;
    }
    main{
        padding: 5vh 0;
    }
}


@media (max-width: 450px) {
    .music_area{
        width: 100%;
    }
    footer h2{
        font-size: 1.5rem;
    }
    .audio1_text{
        font-size: 1.4rem;
    }
}
