*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 auto;
}
main{
    padding: 6vh 0;
    background-color: rgba(0, 0, 0, 0.89);
}
.audio_1{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.music_area{
    width: 55vw;
    margin: 0 auto;
    background-color: brown;
    padding: 6vh 2vh;
    cursor: pointer;
    border-radius: 1rem;
}
.headset_wrapper{
    text-align: center;
}
.headset{
    width: 60%;
}
.function_area{
    padding: 2vh;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    margin: 1vh auto;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3vh;
}
.pause_play_function{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
.pause_play_function i{
    color: black;
    font-size: 4rem;
}
