*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 auto;
}
main{
    padding: 6vh 0;
    background-color: rgba(0, 0, 0, 0.89);
}
.audio_1{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.music_area{
    width: 55vw;
    margin: 0 auto;
    background-color: brown;
    padding: 6vh 2vh;
    cursor: pointer;
    border-radius: 1rem;
}
.headset_wrapper{
    text-align: center;
}
.headset{
    width: 60%;
}
.function_area{
    padding: 2vh;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    margin: 1vh auto;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 3vh;
}
.pause_play_function{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
.pause_play_function i{
    color: black;
    font-size: 4rem;
}
.progress{
    height: 4vh;
    /* transition: 10s all; */
    /* color: white; */
    margin: 1vh 0;
    text-transform: uppercase;
}


.song_list{
    color: white;
    font-size: 1.5rem;
    margin-left: 2.3vw;
    line-height: 1.6;
}
.song_list li:hover{
    width: 98%;
    background-color: tomato;
}


footer{
    text-align: center;
    margin-top: 2vh;
    color: white;
}


